/* A (more) Modern CSS Reset in .sass syntax */

// 1. Box sizing defaults to border-box
*, *::before, *::after
    box-sizing: border-box

// 2. Remove default margin for common elements
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd
    margin: 0

// 3. Remove default padding and list styles on elements that have a class attribute
ul[class], ol[class]
    padding: 0
    list-style: none

// 4. A useful line height and text rendering defaults
body
    min-height: 100vh
    scroll-behavior: smooth
    text-rendering: optimizeSpeed
    line-height: 1.5

// 5. Make images easier to work with
img, picture
    max-width: 100%
    display: block

// 6. Inherit fonts for form elements
input, button, textarea, select
    font: inherit

// 7. Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce)
*
    animation-duration: 0.01ms !important
    animation-iteration-count: 1 !important
    transition-duration: 0.01ms !important
    scroll-behavior: auto !important
