@use 'reset'
@use 'variables'
@use 'fonts'

body
    font-family: "Gothic A1", sans-serif

.featured-products
    max-width: 100%
    margin: 0 auto
    padding: 43px 0 60px 0

    &__heading
        font-size: 1.625em
        text-align: center
        font-weight: 900
        color: variables.$color-secondary
        margin-bottom: 30px

    &__title
        color: variables.$color-secondary
        font-weight: 700
        font-size: 1.375em
        text-align: center
        margin-bottom: 11px

    &__list
        display: flex
        flex-direction: column
        gap: 50px
        flex-wrap: wrap
        transition: gap 0.3s ease
    &__item
        display: flex
        flex-direction: column
        align-items: center
        &_hidden
            display: none

    &__link
        text-decoration: none
    &__image
        width: 100%
        max-width: 520px
        height: 340px
        object-fit: cover
        margin-bottom: 1.875em

    &__button
        display: inline-block
        white-space: nowrap
        width: fit-content
        background-color: variables.$color-primary
        color: variables.$color-accent
        font-weight: 400
        font-size: 16px
        padding: 18px 80px
        border: none
        border-radius: 40px
        cursor: pointer

        &:hover
            background-color: variables.$color-primary-hover

        &_loading
            cursor: progress

/*.is-hidden
 display: none  You can use this style instead of BEM modifiers in the future if you want for more flexibility:)
@media (min-width: 576px)
    .featured-products
        padding: 43px 30px 60px 30px

        &__list
            flex-direction: row
            justify-content: space-between
            gap: 20px

        &__item
            width: calc(50% - 10px)

        &__image
            height: 240px

        &__button
            padding: 18px 40px

@media (min-width: 768px)
    .featured-products
        padding: 60px 40px

        &__list
            gap: 40px 20px
            justify-content: space-between

        &__item
            width: calc(50% - 10px)

        &__image
            height: 260px

        &__title
            font-size: 20px

        &__button
            padding: 18px 76px

@media (min-width: 992px)
    .featured-products
        padding: 60px 60px

        &__list
            gap: 119px 40px
            justify-content: space-between

        &__item
            width: calc(50% - 20px)

        &__image
            height: 300px

        &__title
            font-size: 22px

@media (min-width: 1200px)
    .featured-products
        padding: 80px 140px 147px 140px

        &__list
            gap: 119px 40px
            justify-content: center
            flex-wrap: wrap

        &__item
            width: calc(50% - 40px)

        &__image
            height: 340px
            margin-bottom: 30px

        &__title
            font-size: 24px
            line-height: 42px
            margin-bottom: 11px
