# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# Webpack output
dawn/assets/main.js        
dawn/assets/bundle.js       
dawn/assets/*.map.js        
dawn/assets/main.map.css     
dawn/assets/bundle.map.js    
dawn/assets/*.map            
dawn/assets/favicon.ico
dawn/assets/fonts/*
dawn/assets/*.png

# System files
.DS_Store
Thumbs.db
